@import './sass-variables/theme-variables.scss';

.app-component {
  background: $white;
  padding: 1% 0 1% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    display: flex;
  }
}
