@import './sass-variables/theme-variables.scss';

.app-component {
  background: $white;
  padding: 1% 0 1% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  background: -webkit-linear-gradient(to right, $xello-green-ish, $xello-lemon-ish);
  background: linear-gradient(to right, $xello-green-ish, $xello-lemon-ish);

  &__content {
    display: flex;
  }
}
